<div id="engage-with-us">
	<ul class="cf">
		<li>Engage with us</li>
		<li class="tw"><a href="javascript:;" target="_blank">Twitter</a></li>
		<li class="fb"><a href="javascript:;" target="_blank">Facebook</a></li>
		<li class="gplus"><a href="javascript:;" target="_blank">Google+</a></li>
	</ul>
</div>
<div class="cf" id="bottom">
	<div class="bottom-top cf">
		<div class="signup-newsletter">
			<span class="nl-title">Sign up to newsletter</span>
			<div id="signup-newsletter-cap">
				<form id="searcharea"
					  style="margin:0; padding:0;">
            <span>
            <input type="text" name="email" class="textbox" placeholder="Your e-mail addresss">
            </span>
					<span> <img src="" border="0"> </span>
					<span>Enter above text</span>
					<span>
				<input type="text" id="captcha" name="captcha" class="textcode fl " placeholder="Security Code"
					   size="20"
					   style="">
				<input type="button" value="Go" class="btn fr bg-orange">
            </span>
					<input type="hidden" name="rediret_url" value="shop-cufflinks-by-color.html">
				</form>
				<br clear="all">
			</div>
		</div>
		<div class="shipping"><img src="../../../../assets/copy-imgs/fedex-ups.png"
								   alt="We ship via FedEx and USPS"></div>
		<div class="yahoo-payment-logos"><img src="../../../../assets/copy-imgs/yahoo-store.jpg" alt=""
											  class="yahoo"><img
			src="../../../../assets/copy-imgs/payment-logos.png" alt=""></div>
	</div>
	<ul>
		<li><a routerLink="/main-home" routerLinkActive="active">Home</a><span>|</span></li>
		<li><a routerLink="/about-us" routerLinkActive="active">About Us</a><span>|</span></li>
		<li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a><span>|</span></li>
		<!--<li><a href="https://www.cuff-daddy.com/bulk-order-of-cuff-daddy-cufflinks.html">Wholesale-->
		<!--Cufflinks</a><span>|</span></li>-->
		<li><a href="javascript:;">Shipping</a><span>|</span></li>
		<li><a href="javascript:;">FAQ</a><span>|</span></li>

		<li><a href="https://www.cuff-daddy.com/privacy-policy-cuff-daddy-cufflinks.html">Privacy
			Policy</a><span>|</span></li>
		<!--<li><a href="https://www.cuff-daddy.com/gift-certificates-cuff-daddy-cufflinks.html">Gift-->
		<!--Certificates</a><span>|</span></li>-->
		<li><a href="javascript:;">Hangout &amp; News</a><span>|</span></li>
		<li><a href="javascript:;">Testimonials</a></li>
	</ul>
</div>
