<div class="container">
	<h1>About Us</h1>
	<div class="product-description cf">
		<div class="static_display">
			<img src="../../../../assets/copy-imgs/about-us/why-buy-cuff-daddy.jpg"
				 align="center"><br clear="all">
			<p align="center">
				<!--<iframe width="800" height="450"-->
				<!--src="./About Us - Cuff-Daddy - Where Stylish Cufflinks Are Affordable!_files/_6i0nbS19DM.html"-->
				<!--frameborder="0" allowfullscreen=""></iframe>-->
			</p>
			<p><br clear="all">
			</p>
			<p>Cuff-Daddy is a cufflinks retailer that specializes in unique, high quality <a
				href="http://www.cuff-daddy.com/" class="content_text_link">cufflinks</a> at discount prices. We
				manufacture or source the best discount cufflinks for men and we also carry a large selection of
				ladies cufflinks at affordable prices.
				<br><br>
				Our design team creates cufflinks that will make your sleeves looks simply dazzling. Our inventory
				of awesome accessories will transform your entire wardrobe into a posh ensemble. If you want to get
				creative with your French cuff shirt, check out our cat-eye cufflinks, novelty links and fiber optic
				designs.
				<br><br>
				In addition to cufflinks, you can also find men's neckties (that can actually match your new set of
				links), multifunctional pens and money clips on our site.
				<br><br>
				We've found that by upholding the following principles, we have managed to stay one step ahead of
				all our competitors:</p>
			<ul>
				<li>30 day money back guarantee!</li>
				<li> 90 day product guarantee against defects!</li>
				<li> We ship all orders within 24 hours!</li>
				<li> Excellent discounts for bulk orders (e.g., Wedding parties)!</li>
			</ul>
			<br>
			<br>
			<br>
			<p style="text-align:center"><strong> Cuff-Daddy, where stylish cufflinks are affordable.</strong></p>
		</div>
	</div>
</div>
