<div class="container-fluid">
	<div class="row">
		<div class="home-slides">
			<!--	<carousel>
                    <slide>
                        <img class="slide-img" src="assets/images/carousel-1.jpg" alt="First slide">
                    </slide>
                    <slide>
                        <img class="slide-img" src="assets/images/carousel-2.jpg" alt="Second slide">
                    </slide>
                    <slide>
                        <img class="slide-img" src="assets/images/carousel-4.jpg" alt="Third slide">
                    </slide>
                </carousel>-->
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<div class="row-home-content">
				<ul class="clearfix row">
					<li class="col-xs-6 col-md-3">
						<a title="product's name">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/product-25-2.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
					<li class="col-xs-6 col-md-3">
						<a title="product's name">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/product-25-2.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
					<li class="col-xs-6 col-md-3">
						<a title="product's name">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/product-25-2.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
					<li class="col-xs-6 col-md-3">
						<a title="product's name">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/product-25-2.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<div class="row-home-content">
				<ul class="clearfix row">
					<li class="col-xs-6">
						<a title="product's name">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/type-title-50-2.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
					<li class="col-xs-6">
						<a title="product's name">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/type-title-50-1.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<div class="row-home-content">
				<ul class="clearfix row">
					<li class="col-xs-6">
						<a title="product's name">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/product-50-1.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
					<li class="col-xs-6">
						<a title="product's name">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/product-50-2.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
					<li class="col-xs-6">
						<a title="product's name">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/product-50-1.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
					<li class="col-xs-6">
						<a title="product's name">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/product-50-2.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<div class="row-home-content">
				<ul class="clearfix row">
					<li class="col-xs-12">
						<a title="product type">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/type-title-100-1.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<div class="row-home-content">
				<ul class="clearfix row">
					<li class="col-xs-6 col-md-4">
						<a title="product type">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/product-33-1.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
					<li class="col-xs-6 col-md-4">
						<a title="product type">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/product-33-1.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
					<li class="col-xs-6 col-md-4">
						<a title="product type">
							<img class="img-responsive"
								 height="100%"
								 width="100%"
								 src="assets/images/product-33-1.jpg"
								 alt="Generic placeholder image">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!--<div class="row ">
		<div class="col-md-7">
			<h2 >product name</h2>
			<p class="lead">
				 product description  product description product description product description product description product description product description
			</p>
		</div>
		<div class="col-md-5">
			<img class="img-responsive center-block"
				 src="assets/images/product-33-1.jpg"
				 alt="product img">
		</div>
	</div>-->


	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="row-home-content">
			<ul class="clearfix row">
				<li class="col-md-4">
					<img class="img-responsive"
						 src="assets/images/product-item-2_1-100.jpg"
						 alt="product placeholder image">
					<h2>title</h2>
					<p>
						product description less than three lines;
						--------------------------------------占位-------------------------------------------------------------------------------------2---------------占位--------------------------------------------------------------
					</p>
					<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
				</li><!-- /.col-lg-4 -->
				<li class="col-md-4">
					<img class="img-responsive"
						 src="assets/images/product-item-2_1-100.jpg"
						 alt="product placeholder image">
					<h2>title</h2>
					<p>
						product
						description--------------------------------------占位-------------------------------------------------------------------------------------2---------------占位--------------------------------------------------------------
					</p>
					<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
				</li><!-- /.col-lg-4 -->

				<li class="col-md-4">
					<img class="img-responsive"
						 src="assets/images/product-item-2_1-100.jpg"
						 alt="product placeholder image"
					>
					<h2>title</h2>
					<p>
						product
						description--------------------------------------占位-------------------------------------------------------------------------------------2---------------占位--------------------------------------------------------------
					</p>
					<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
				</li><!-- /.col-lg-4 -->
			</ul>
		</div>
	</div><!-- /.row -->


	<!-- /END THE FEATURETTES -->


	<!-- FOOTER -->
	<footer class="footer">
		<h2>Demo: NgZone</h2>

		<p>Progress: {{progress}}%</p>
		<p *ngIf="progress >= 100">Done processing {{label}} of Angular zone!</p>

		<button (click)="processWithinAngularZone()">Process within Angular zone</button>
		<button (click)="processOutsideOfAngularZone()">Process outside of Angular zone</button>
		<!--<p class="pull-right"><a href="#">Back to top</a></p>-->
		<p class="text-center">&copy; 2016 Company, Inc. &middot;
			<!--<a href="#">Privacy</a> &middot; <a href="#">Terms</a>--></p>
	</footer>
</div>
