<div class="container"><h1>Contact Us</h1>
	<div class="product-description cf">
		<div class="static_display">
			<p>
				Looking for a <a href="http://www.cuff-daddy.com/shop-cufflinks-by-color-red-cufflinks.html"
								 class="content_text_link">unique cufflink</a> set? Cuff-Daddy is the site for you.
				We offer a massive selection of Italian-inspired designs that you won't find anywhere else. Our
				collection of cufflinks is simply staggering.
				<br><br>
				Searching for an affordable cufflink solution? Be sure to browse through our collection of <a
				href="http://www.cuff-daddy.com/" class="content_text_link">discount cufflinks</a>. Getting
				married? Want to fashion your wedding party with unique wedding cufflinks? We can set up your entire
				marital entourage with a reduced bulk order rate. Imagine what your groomsmen will look like with a
				set of matching diamond cufflinks! No matter what sort of links you're looking for - from ornate
				cuff accessories to reasonably priced <a
				href="http://www.cuff-daddy.com/bulk-order-of-cuff-daddy-cufflinks.html"
				class="content_text_link">wholesale cufflinks</a> - you're sure to find the perfect pair at
				Cuff-Daddy.com. </p>
			<hr>


			<strong>Postal Address:</strong>
			<p></p>

			<p>Cuff-Daddy LLC<br>
				11763 Owens Glen Way - Suite 120<br>
				North Potomac, MD 20878<br>
				888.808.9944</p>
			<p><strong>Email us: sales@cuff-daddy.com

			</strong></p></div>
	</div>
</div>
