<div id="wrapper">
	<div id="mobileMenu">
		<div class="slicknav_menu">
			<a href="javascript:;" aria-haspopup="true" tabindex="0"
			   class="slicknav_btn slicknav_collapsed" style="outline: none;">
            <span
				class="slicknav_menutxt">

            </span><span class="slicknav_icon slicknav_no-text"><span
				class="slicknav_icon-bar">

        </span><span class="slicknav_icon-bar"></span><span
				class="slicknav_icon-bar">

        </span></span></a>
			<ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
				<li class="slicknav_collapsed slicknav_parent"><a href="https://www.cuff-daddy.com/#" role="menuitem"
																  aria-haspopup="true" tabindex="-1"
																  class="slicknav_item slicknav_row"
																  style="outline: none;"><a
					href="https://www.cuff-daddy.com/shop-cufflinks-by-color.html" tabindex="-1"><span>Colors</span></a><span
					class="slicknav_arrow">&#9658;</span></a>
					<ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
						<li>
							<div class="color sublinks-container cf">
								<div class="left">
									<ul>
										<li class="blue"><a
											href="https://www.cuff-daddy.com/shop-cufflinks-by-color-blue-cufflinks.html"
											role="menuitem" tabindex="-1"><span></span>Blue Cufflinks (126)</a></li>
										<li class="gold"><a
											href="https://www.cuff-daddy.com/shop-cufflinks-by-color-golden-cufflinks.html"
											role="menuitem" tabindex="-1"><span></span>Gold Cufflinks (61)</a></li>
										<li class="silver"><a
											href="https://www.cuff-daddy.com/shop-cufflinks-by-color-silver-cufflinks.html"
											role="menuitem" tabindex="-1"><span></span>Silver Cufflinks (195)</a>
										</li>
										<li class="green"><a
											href="https://www.cuff-daddy.com/shop-cufflinks-by-color-green-cufflinks.html"
											role="menuitem" tabindex="-1"><span></span>Green Cufflinks (40)</a></li>
									</ul>
									<ul>
										<li class="black"><a
											href="https://www.cuff-daddy.com/shop-cufflinks-by-color-black-cufflinks.html"
											role="menuitem" tabindex="-1"><span></span>Black Cufflinks (154)</a>
										</li>
										<li class="red"><a
											href="https://www.cuff-daddy.com/shop-cufflinks-by-color-red-cufflinks.html"
											role="menuitem" tabindex="-1"><span></span>Red Cufflinks (57)</a></li>
										<li class="white"><a
											href="https://www.cuff-daddy.com/shop-cufflinks-by-color-white-cufflinks.html"
											role="menuitem" tabindex="-1"><span></span>White Cufflinks (39)</a></li>
										<li class="pink"><a
											href="https://www.cuff-daddy.com/shop-cufflinks-by-color-pink-cufflinks.html"
											role="menuitem" tabindex="-1"><span></span>Pink Cufflinks (49)</a></li>
									</ul>
									<ul>
										<li class="brown"><a
											href="https://www.cuff-daddy.com/shop-cufflinks-by-color-brown-cufflinks.html"
											role="menuitem" tabindex="-1"><span></span>Brown Cufflinks (14)</a></li>
										<li class="orange"><a
											href="https://www.cuff-daddy.com/shop-cufflinks-by-color-orange-cufflinks.html"
											role="menuitem" tabindex="-1"><span></span>Orange Cufflinks (17)</a>
										</li>
										<li class="yellow"><a
											href="https://www.cuff-daddy.com/shop-cufflinks-by-color-yellow-cufflinks.html"
											role="menuitem" tabindex="-1"><span></span>Yellow Cufflinks (21)</a>
										</li>
										<li class="other"><a
											href="https://www.cuff-daddy.com/shop-cufflinks-by-color-other-cufflinks.html"
											role="menuitem" tabindex="-1"><span></span>Other Cufflinks (69)</a></li>
									</ul>
									<br class="cf"></div>
								<div class="right">
									<div class="content"><a
										href="https://www.cuff-daddy.com/shop-cufflinks-by-color.html"
										tabindex="-1">
										<div class="title">Browse By<br>Color</div>
										<div class="subtitle">hundreds of designs to choose from!</div>
									</a></div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="slicknav_collapsed slicknav_parent"><a href="https://www.cuff-daddy.com/#" role="menuitem"
																  aria-haspopup="true" tabindex="-1"
																  class="slicknav_item slicknav_row"
																  style="outline: none;"><a
					href="https://www.cuff-daddy.com/shop-by-material.html"
					tabindex="-1"><span>Materials</span></a><span
					class="slicknav_arrow">&#9658;</span></a>
					<ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
						<li>
							<div class="materials sublinks-container cf">
								<ul>
									<li>
										<a href="https://www.cuff-daddy.com/shop-cufflinks-by-material-sterling-silver.html"
										   role="menuitem" tabindex="-1"><img
											src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/sterling-silver.png"
											alt="Sterling Silver Cufflinks">Sterling Silver Cufflinks (66)</a></li>
									<li><a href="https://www.cuff-daddy.com/shop-cufflinks-by-material-gold.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/gold.png"
										alt="Gold Cufflinks">Gold Cufflinks (45)</a></li>
									<li>
										<a href="https://www.cuff-daddy.com/shop-cufflinks-by-material-swarovski-crystal.html"
										   role="menuitem" tabindex="-1"><img
											src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/crystal.png"
											alt="Crystal Cufflinks">Crystal Cufflinks (164)</a></li>
									<li><a href="https://www.cuff-daddy.com/shop-cufflinks-by-material-enamel.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/enamel.png"
										alt="Enamel Cufflinks">Enamel Cufflinks (212)</a></li>
								</ul>
								<ul>
									<li>
										<a href="https://www.cuff-daddy.com/shop-cufflinks-by-material-semi-precious-stones.html"
										   role="menuitem" tabindex="-1"><img
											src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/semi-precious.png"
											alt="Semi-precious stones">Semi-precious stones (65)</a></li>
									<li><a href="https://www.cuff-daddy.com/stainlesssteel.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/stainless-steel.png"
										alt="Stainless Steel Cufflinks">Stainless Steel Cufflinks (71)</a></li>
									<li><a href="https://www.cuff-daddy.com/carbonfiber.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/carbon.png"
										alt="Carbon Fiber Cufflinks">Carbon Fiber Cufflinks (21)</a></li>
									<li><a href="https://www.cuff-daddy.com/moofpecu.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/pearl.png"
										alt="Mother of Pearl Cufflinks">Mother of Pearl Cufflinks (57)</a></li>
								</ul>
								<ul>
									<li><a href="https://www.cuff-daddy.com/onyxcufflinks.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/onyx.png"
										alt="Onyx Cufflinks">Onyx Cufflinks (38)</a></li>
									<li><a href="https://www.cuff-daddy.com/shop-cufflinks-by-material-fiber-optic.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/fiber-optic.png"
										alt="Fiber Optic Cufflinks">Fiber Optic Cufflinks (72)</a></li>
									<li><a href="https://www.cuff-daddy.com/wood.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/wood.png"
										alt="Wood Cufflinks">Wood Cufflinks (6)</a></li>
									<li>
										<a href="https://www.cuff-daddy.com/shop-cufflinks-by-material-silver-no-stone.html"
										   role="menuitem" tabindex="-1"><img
											src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/silver.png"
											alt="Silver Cufflinks">Silver Cufflinks (119)</a></li>
								</ul>
								<ul>
									<li><a href="https://www.cuff-daddy.com/shop-cufflinks-by-material-silk.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/silk.png"
										alt="Silk Cufflinks">Silk Cufflinks (19)</a></li>
									<li><a href="https://www.cuff-daddy.com/shop-by-material-titanium-cufflinks.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/titanium.png"
										alt="Titanium Cufflinks">Titanium Cufflinks (11)</a></li>
									<li><a href="https://www.cuff-daddy.com/shop-by-material-gun-metal-cufflinks.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/gunmetal.png"
										alt="Gunmetal Cufflinks">Gunmetal Cufflinks (73)</a></li>
									<li><a href="https://www.cuff-daddy.com/shop-by-material-rose-gold.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/rose-gold.png"
										alt="Rose Gold Cufflinks">Rose Gold Cufflinks (63)</a></li>
								</ul>
								<ul class="last">
									<li><a href="https://www.cuff-daddy.com/shop-by-material-swarovski-pearls.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/pearl1.png"
										alt="Pearl Cufflinks">Pearl Cufflinks</a></li>
									<div class="content"><a href="https://www.cuff-daddy.com/shop-by-material.html"
															tabindex="-1">
										<div class="title">Shop By<br>Material</div>
									</a></div>
								</ul>
								<br class="cf"></div>
						</li>
					</ul>
				</li>
				<li><a href="https://www.cuff-daddy.com/novelty-cufflinks.html" role="menuitem"
					   tabindex="-1"><span>Novelty</span></a>
				</li>
				<li class="slicknav_collapsed slicknav_parent"><a href="https://www.cuff-daddy.com/#" role="menuitem"
																  aria-haspopup="true" tabindex="-1"
																  class="slicknav_item slicknav_row"
																  style="outline: none;"><a
					href="https://www.cuff-daddy.com/hobbies---interests.html"
					tabindex="-1"><span>Interests</span></a><span
					class="slicknav_arrow">&#9658;</span></a>
					<ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
						<li>
							<div class="materials sublinks-container cf">
								<ul>
									<li><a href="https://www.cuff-daddy.com/hobbies-interests-recreation-games.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/recreation.png"
										alt="Recreation Games Cufflinks">Recreation Games Cufflinks (160)</a></li>
									<li><a href="https://www.cuff-daddy.com/hobbies-interests-sports.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/sports.png"
										alt="Sports Cufflinks">Sports Cufflinks (86)</a></li>
									<li><a href="https://www.cuff-daddy.com/hobbies-interests-career-related.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/career.png"
										alt="Career-Related Cufflinks">Career-Related Cufflinks (127)</a></li>
									<li><a href="https://www.cuff-daddy.com/hobbies-interests-animals.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/animal.png"
										alt="Animal Cufflinks">Animal Cufflinks (105)</a></li>
								</ul>
								<ul>
									<li><a href="https://www.cuff-daddy.com/hobbies-interests-automotive.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/automotive.png"
										alt="Automotive Cufflinks">Automotive Cufflinks (47)</a></li>
									<li><a href="https://www.cuff-daddy.com/hobbies-interests-gambling.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/gambling.png"
										alt="Gambling Cufflinks">Gambling Cufflinks (28)</a></li>
									<li><a href="https://www.cuff-daddy.com/hobbies-interests-aviation.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/aviation.png"
										alt="Aviation Cufflinks">Aviation Cufflinks (16)</a></li>
									<li><a href="https://www.cuff-daddy.com/hobbies-interests-nautical.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/nautical.png"
										alt="Nautical Cufflinks">Nautical Cufflinks (34)</a></li>
								</ul>
								<ul>
									<li><a href="https://www.cuff-daddy.com/hobbies-interests-music.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/music.png"
										alt="Music Cufflinks">Music Cufflinks (27)</a></li>
									<li><a href="https://www.cuff-daddy.com/skull-crossbones-fashion.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/skull.png"
										alt="Skull Cufflinks">Skull Cufflinks (15)</a></li>
									<li><a href="https://www.cuff-daddy.com/hobbies-interests-afficionado.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/aficionado.png"
										alt="Aficionado Cufflinks">Aficionado Cufflinks (44)</a></li>
									<li><a href="https://www.cuff-daddy.com/military-cufflinks.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/military.png"
										alt="Military Cufflinks">Military Cufflinks (37)</a></li>
								</ul>
								<ul>
									<li><a href="https://www.cuff-daddy.com/masonic-jewelry.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/masonic.png"
										alt="Masonic Cufflinks">Masonic Cufflinks (31)</a></li>
									<li><a href="https://www.cuff-daddy.com/hobbies-interests-miscellaneous.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/misc.png"
										alt="Miscellaneous">Miscellaneous (152)</a></li>
									<li><a href="https://www.cuff-daddy.com/food-drink-cufflinks.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/food.png"
										alt="Food &amp; Drink Cufflinks">Food &amp; Drink Cufflinks (59)</a></li>
									<li><a href="https://www.cuff-daddy.com/superhero-cufflinks.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/superhero.png"
										alt="Superhero Cufflinks">Superhero Cufflinks (14)</a></li>
								</ul>
								<ul class="last">
									<li><a href="https://www.cuff-daddy.com/religious-cufflinks.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/religious.png"
										alt="Religious Cufflinks">Religious Cufflinks (22)</a></li>
								</ul>
								<br class="cf"></div>
						</li>
					</ul>
				</li>
				<li><a href="https://www.cuff-daddy.com/tuxedostudsets.html" role="menuitem"
					   tabindex="-1"><span>Stud Sets</span></a>
				</li>
				<li class="slicknav_collapsed slicknav_parent"><a href="https://www.cuff-daddy.com/#" role="menuitem"
																  aria-haspopup="true" tabindex="-1"
																  class="slicknav_item slicknav_row"
																  style="outline: none;"><a
					href="https://www.cuff-daddy.com/#" tabindex="-1"><span>Specialty</span></a><span
					class="slicknav_arrow">&#9658;</span></a>
					<ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
						<li>
							<div class="specialty sublinks-container cf">
								<ul>
									<li><a class="functional"
										   href="https://www.cuff-daddy.com/functional-cufflinks.html" role="menuitem"
										   tabindex="-1">Functional <br>Cufflinks</a></li>
									<li><a class="innovative" href="https://www.cuff-daddy.com/incu.html"
										   role="menuitem" tabindex="-1">Innovative <br>Cufflinks</a></li>
									<li><a class="unique" href="https://www.cuff-daddy.com/uncu.html" role="menuitem"
										   tabindex="-1">Unique <br>Cufflinks</a></li>
									<li class="last"><a class="forher"
														href="https://www.cuff-daddy.com/cufflinks-for-women.html"
														role="menuitem" tabindex="-1">For Her <br>Cufflinks</a></li>
									<li><a class="initial"
										   href="https://www.cuff-daddy.com/initial-number-cufflinks.html"
										   role="menuitem" tabindex="-1">Initial &amp; Numbers <br>Cufflinks</a></li>
									<li><a class="trendy" href="https://www.cuff-daddy.com/trcu.html" role="menuitem"
										   tabindex="-1">Trendy <br>Cufflinks</a></li>
									<li><a class="wrap" href="https://www.cuff-daddy.com/wrap-around-cufflinks.html"
										   role="menuitem" tabindex="-1">Wrap Around <br>Cufflinks</a></li>
									<li class="last"><a class="coins"
														href="https://www.cuff-daddy.com/coin-and-token-cufflinks.html"
														role="menuitem" tabindex="-1">Coins &amp; Token
										<br>Cufflinks</a></li>
								</ul>
								<br class="cf"></div>
						</li>
					</ul>
				</li>
				<li class="slicknav_collapsed slicknav_parent"><a href="https://www.cuff-daddy.com/#" role="menuitem"
																  aria-haspopup="true" tabindex="-1"
																  class="slicknav_item slicknav_row"
																  style="outline: none;"><a
					href="https://www.cuff-daddy.com/#" tabindex="-1"><span>Classics</span></a><span
					class="slicknav_arrow">&#9658;</span></a>
					<ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
						<li>
							<div class="classics sublinks-container cf">
								<ul>
									<li><a href="https://www.cuff-daddy.com/gift-ideas-wedding.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/wedding-cufflinks.jpg"
										alt="Wedding Cufflinks">
										<div class="title">Wedding Cufflinks<span>Browse All</span></div>
									</a></li>
									<li class="last"><a href="https://www.cuff-daddy.com/cocu1.html" role="menuitem"
														tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/conservative-cufflinks.jpg"
										alt="Conservative Cufflinks">
										<div class="title">Conservative Cufflinks<span>Browse All</span></div>
									</a></li>
								</ul>
								<br class="cf"></div>
						</li>
					</ul>
				</li>
				<li><a href="https://www.cuff-daddy.com/other-accessories-cufflink-boxes.html" role="menuitem"
					   tabindex="-1"><span>Boxes</span></a></li>
				<li class="slicknav_collapsed slicknav_parent"><a href="https://www.cuff-daddy.com/#" role="menuitem"
																  aria-haspopup="true" tabindex="-1"
																  class="slicknav_item slicknav_row"
																  style="outline: none;"><a
					href="https://www.cuff-daddy.com/shop-by-designer.html"
					tabindex="-1"><span>Designer</span></a><span class="slicknav_arrow">&#9658;</span></a>
					<ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
						<li>
							<div class="designer sublinks-container cf">
								<ul>
									<li><a href="https://www.cuff-daddy.com/soho-cufflinks.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/michael-soho-thumb.jpg"
										alt="Cufflinks by Michael Soho">Cufflinks by <br>Michael Soho</a></li>
									<li><a href="https://www.cuff-daddy.com/cracked-pepper-cufflinks.html"
										   role="menuitem" tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/cracked-pepper-thumb.jpg"
										alt="Cracked Pepper Cufflinks">Cracked Pepper <br>Cufflinks</a></li>
									<li><a href="https://www.cuff-daddy.com/safari-collections.html" role="menuitem"
										   tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/safari-collection-thumb.jpg"
										alt="Safari Cufflinks">Safari <br>Cufflinks</a></li>
									<li class="last"><a href="https://www.cuff-daddy.com/rualcu.html" role="menuitem"
														tabindex="-1"><img
										src="./Men&#39;s Discount Novelty and Classic Cufflinks Cuff-Daddy_files/rudolph-alexander-thumb.jpg"
										alt="Rudolph Alexander Cufflinks">Rudolph Alexander <br>Cufflinks </a></li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li><a href="https://www.cuff-daddy.com/collarstays.html" role="menuitem"
					   tabindex="-1"><span>Stays</span></a></li>
				<li class="last sale"><a href="https://www.cuff-daddy.com/all-items-that-are-on-sale.html"
										 role="menuitem" tabindex="-1"><span>On Sale</span></a></li>
			</ul>
		</div>
	</div>
	<div class="cf" id="top"><!--<div class="title"></div>-->
		<div class="top-nav">
			<ul>
				<li><a routerLink="/main-home" routerLinkActive="active">Home</a><span>|</span></li>
				<li><a routerLink="/about-us" routerLinkActive="active">About Us</a><span>|</span></li>
				<li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a><span>|</span>
				</li>
				<li><a routerLink="/product-list">Shipping</a>
					<span>|</span>
				</li>
				<li><a href="javascript:;">FAQ</a>
					<!--<span>|</span>-->
				</li>
				<!--<li><a href="javascript:;">Gift Cards</a></li>-->
			</ul>
		</div>
	</div>
	<div class="cf" id="header">
		<div id="logo"><a href="https://www.cuff-daddy.com/"><img
			src="../assets/copy-imgs/cuff-daddy-logo.png"
			alt="Cuff-Daddy Home: Where Stylish Cufflinks Are Affordable"></a></div>
		<div id="header-middle">
			<div class="free-shipping">Everyday FREE Shipping over $50</div>
			<div id="search">
				<form id="searcharea" action="https://cuff-daddy.commerce-search.net/search" method="get"
					  style="margin:0; padding:0;">
					<input type="text" name="query" class="textbox" value="Search Your Cufflinks Style Here"
					>
					<input type="button"
						   class="btn bg-orange" value="Search">
					<input type="hidden" name="catalog" value="yhst-36182171232078">
				</form>
			</div>
		</div>
		<div id="view-cart-call">
			<div class="cart-detail" id="yfc_mini">
				<div class="smb-mc">
					<div id="yfc_minicart" class="minicart_c1">
						<div id="yfc_mini_align" class="mini_align"></div>
						<span id="yfc_sub_total_mini" class="mini_subtotal">$0.00</span><span id="yfc_total_items_mini"
																							  class="mini_item_count">0 Item(s)</span><span
						id="yfc_show_mini" class="mini_msg">Cart</span><span id="yfc_mini_icon"
																			 class="mini_icon"></span>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="cf"></div>
			<div class="call"><span></span>888-808-9944</div>
		</div>
	</div>
	<div #headNav>
		<router-outlet></router-outlet>
	</div>
	<app-bottom></app-bottom>
	<app-footer></app-footer>
</div>
<a href="javascript:;"
   class="back-to-top "
   title="back to top"
   [class.btn-show]="isShowBackTopBtn"
   (click)="scrollBackToTop()"
>
</a>
