<div class="container">
	<div itemscope="" itemtype="http://schema.org/Product">
		<div class="breadcrumb">
			<ul>
				<li><a href="http://www.cuff-daddy.com/" title="Home">Home</a><span></span></li>
				<li><a href="https://www.cuff-daddy.com/coin-and-token-cufflinks.html"
					   title="Coin and Token Cufflinks">Coin and Token Cufflinks</a><span></span></li>
				<li>Barber Dime Cufflinks</li>
			</ul>
		</div>
		<h1 class="product-title" itemprop="name">Barber Dime Cufflinks</h1><a
		href="https://www.cuff-daddy.com/barber-dime-cufflinks.html" style="display:none" itemprop="url"></a>
		<div class="product-item cf">
			<div class="same-day-shipping"><span>same day<br> shipping</span></div>
			<div class="item-left">
				<div class="bx-wrapper" style="max-width: 100%;">
					<div class="bx-viewport"
						 style="width: 100%; overflow: hidden; position: relative; height: 450px;">
						<ul class="proslider"
							style="width: 515%; position: relative; transition-duration: 0.5s; transform: translate3d(-1100px, 0px, 0px);">
							<li style="float: left; list-style: none; position: relative; width: 550px;"
								class="bx-clone"><a
								routerLink="/product-info"
								class="fancybox" title="Barber Dime Cufflinks" rel="gallery1"><img
								src="assets/copy-product-info/barber-dime-cufflinks-31.jpg"
								width="400" height="400" border="0" hspace="0" vspace="0"
								alt="Barber Dime Cufflinks"></a></li>
							<li style="float: left; list-style: none; position: relative; width: 550px;"><a
								href="https://sep.yimg.com/ay/yhst-36182171232078/barber-dime-cufflinks-24.jpg"
								class="fancybox" title="Barber Dime Cufflinks" rel="gallery1"><img
								src="assets/copy-product-info/barber-dime-cufflinks-25.jpg"
								itemprop="image" border="0" alt="Barber Dime Cufflinks"></a></li>
							<li style="float: left; list-style: none; position: relative; width: 550px;"><a
								href="https://sep.yimg.com/ay/yhst-36182171232078/barber-dime-cufflinks-28.jpg"
								class="fancybox" title="Barber Dime Cufflinks" rel="gallery1"><img
								src="assets/copy-product-info/barber-dime-cufflinks-29.jpg"
								width="400" height="178" border="0" hspace="0" vspace="0"
								alt="Barber Dime Cufflinks"></a></li>
							<li style="float: left; list-style: none; position: relative; width: 550px;"><a
								href="https://sep.yimg.com/ay/yhst-36182171232078/barber-dime-cufflinks-30.jpg"
								class="fancybox" title="Barber Dime Cufflinks" rel="gallery1"><img
								src="assets/copy-product-info/barber-dime-cufflinks-31.jpg"
								width="400" height="400" border="0" hspace="0" vspace="0"
								alt="Barber Dime Cufflinks"></a></li>
							<li style="float: left; list-style: none; position: relative; width: 550px;"
								class="bx-clone"><a
								href="https://sep.yimg.com/ay/yhst-36182171232078/barber-dime-cufflinks-24.jpg"
								class="fancybox" title="Barber Dime Cufflinks" rel="gallery1"><img
								src="assets/copy-product-info/barber-dime-cufflinks-25.jpg"
								itemprop="image" border="0" alt="Barber Dime Cufflinks"></a></li>
						</ul>
					</div>
					<div class="bx-controls"></div>
				</div>
				<div class="proslider-thumb" id="bx-pager">
					<ul class="cf">
						<li><a href="https://www.cuff-daddy.com/barber-dime-cufflinks.html" data-slide-index="0"
							   class=""><img
							src="assets/copy-product-info/barber-dime-cufflinks-26.jpg"
							width="65" height="62" border="0" hspace="0" vspace="0" alt="Barber Dime Cufflinks"></a>
						</li>
						<li><a href="https://www.cuff-daddy.com/barber-dime-cufflinks.html" data-slide-index="1"
							   class="active"><img
							src="assets/copy-product-info/barber-dime-cufflinks-32.jpg"
							width="65" height="29" border="0" hspace="0" vspace="0" alt="Barber Dime Cufflinks"></a>
						</li>
						<li><a href="https://www.cuff-daddy.com/barber-dime-cufflinks.html" data-slide-index="2"
							   class=""><img
							src="assets/copy-product-info/barber-dime-cufflinks-33.jpg"
							width="65" height="65" border="0" hspace="0" vspace="0" alt="Barber Dime Cufflinks"></a>
						</li>
					</ul>
				</div>
				<div class="fb-likes">
					<table cellspacing="2" cellpadding="2" align="center">
						<tbody>
						<tr>
							<td><!-- AddThis Button BEGIN -->
								<div class="addthis_toolbox addthis_default_style ">
									<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
									<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
								</div>
								<script type="text/javascript"
										src="assets/copy-product-info/addthis_widget.js.&#19979;&#36733;"></script>
								<!-- AddThis Button END --></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<form method="POST"
				  action="https://order.store.yahoo.net/yhst-36182171232078/cgi-bin/wg-order?yhst-36182171232078+barber-dime-cufflinks#GA_CLIENT_ID=1620989369.1521181691">
				<div class="item-right">
					<div class="box first">
						<ul>
							<li><span class="label">Product ID:</span><span itemprop="productID">CD-1137</span></li>
							<li><span class="label">Dimensions:</span>3/4" dia.</li>
						</ul>
					</div>
					<div class="box second">
						<ul itemscope="" itemtype="http://schema.org/Offer" itemprop="offers">
							<li><span class="label">Retail Price:</span>$74.99</li>
							<li class="second"><span class="label">Our Price:</span><span class="our-price"
																						  itemprop="price">$38.99</span>
							</li>
							<li><span class="label">You Save:</span><span class="you-save">$36.00 (48.0%)</span>
							</li>
							<link itemprop="availability" href="http://schema.org/InStock">
							<link itemprop="itemCondition" href="http://schema.org/NewCondition">
						</ul>
					</div>
					<div class="button"><input name="vwitem" type="hidden" value="barber-dime-cufflinks"><input
						name="vwquantity" type="hidden" value="1"><input name="vwcatalog" type="hidden"
																		 value="yhst-36182171232078"><input
						type="submit" value="Buy Now" class="btn-buy-now"></div>
					<div class="free-shipping"><span>free shipping!</span>on all orders over $50</div>
				</div>
				<input type="hidden" name=".autodone" value="https://www.cuff-daddy.com/barber-dime-cufflinks.html">
			</form>
		</div>
		<div class="product-description cf"><span class="detail-title-g">Product Description</span>
			<p class="ysa-cap" itemprop="description">Enhance your look on any special occasion with this unique set
				of Barber dime cufflinks. They showcase both sides of these real coins, and they are sized perfectly
				to sit right on your wrists. These cufflinks are cool for the avid coin collector, but they have a
				classic feel that most people can appreciate. Keep them as your own for an interesting set of
				cufflinks that you'll be able to pull out whenever you like, or give them away to someone who will
				appreciate them even more than you do. They're durable and coated to last so you can rest assured
				that you'll get plenty of life out of this set. NOTE: Please know that the date can vary on the
				coins used in making these cufflinks so you will likely not receive the date shown. Thanks for your
				understanding.</p>
			<ul><br>
				<!--<center><img src="assets/copy-product-info/coolframe.jpg"></center>-->
				<p></p></ul>
		</div>
		<div class="product-description cf"><span class="detail-title-g">What People Like About This Product:</span>
			<p>The brightness of the gold circular frames encasing the dull, almost dirty, silver dimes provides an
				excellent visual contrast, along with the use of both the front and the back of the dime.</p></div>
		<div class="recent-products-row"><span class="detail-title-o">Recently Viewed</span>
			<div class="recently_display" id="recently_display"></div>
		</div>
		<div class="recent-products-row"><span class="detail-title-o">Related Products</span>
			<ul class="cf">
				<li>
					<div class="title"><a
						href="https://www.cuff-daddy.com/genuine-mercury-dime-coin-cufflinks-gold.html">Mercury
						Dime Cufflinks</a></div>
					<div class="pro-img"><a
						href="https://www.cuff-daddy.com/genuine-mercury-dime-coin-cufflinks-gold.html"
						class="pixie"><img
						src="assets/copy-product-info/mercury-dime-cufflinks-63.jpg"
						width="148" height="145" border="0" hspace="0" vspace="0" alt="Mercury Dime Cufflinks"></a>
					</div>
					<div class="price">Price<br><span>$38.99</span></div>
					<div class="button"><a
						href="https://www.cuff-daddy.com/genuine-mercury-dime-coin-cufflinks-gold.html"
						class="pixie">Buy Now</a></div>
				</li>
				<li>
					<div class="title"><a href="https://www.cuff-daddy.com/seattle-transit-token-cufflinks.html">Seattle&nbsp;Transit
						Token Cufflinks</a></div>
					<div class="pro-img"><a href="https://www.cuff-daddy.com/seattle-transit-token-cufflinks.html"
											class="pixie"><img
						src="assets/copy-product-info/seattle-transit-token-cufflinks-43.jpg"
						width="159" height="145" border="0" hspace="0" vspace="0"
						alt="Seattle Transit Token Cufflinks"></a></div>
					<div class="price">Price<br><span>$49.99</span></div>
					<div class="button"><a href="https://www.cuff-daddy.com/seattle-transit-token-cufflinks.html"
										   class="pixie">Buy Now</a></div>
				</li>
				<li>
					<div class="title"><a href="https://www.cuff-daddy.com/chicago-subway-token-cufflinks.html">Chicago
						Subway Token Cufflinks</a></div>
					<div class="pro-img"><a href="https://www.cuff-daddy.com/chicago-subway-token-cufflinks.html"
											class="pixie"><img
						src="assets/copy-product-info/chicago-subway-token-cufflinks-41.jpg"
						width="163" height="145" border="0" hspace="0" vspace="0"
						alt="Chicago Subway Token Cufflinks"></a></div>
					<div class="price">Price<br><span>$49.99</span></div>
					<div class="button"><a href="https://www.cuff-daddy.com/chicago-subway-token-cufflinks.html"
										   class="pixie">Buy Now</a></div>
				</li>
				<li>
					<div class="title"><a
						href="https://www.cuff-daddy.com/philadelphia-subway-token-cufflinks.html">Philadelphia
						Subway Token Cufflinks</a></div>
					<div class="pro-img"><a
						href="https://www.cuff-daddy.com/philadelphia-subway-token-cufflinks.html"
						class="pixie"><img
						src="assets/copy-product-info/philadelphia-subway-token-cufflinks-60.jpg"
						width="165" height="145" border="0" hspace="0" vspace="0"
						alt="Philadelphia Subway Token Cufflinks"></a></div>
					<div class="price">Price<br><span>$49.99</span></div>
					<div class="button"><a
						href="https://www.cuff-daddy.com/philadelphia-subway-token-cufflinks.html"
						class="pixie">Buy Now</a></div>
				</li>
			</ul>
		</div>
	</div>
</div>
