.u-nav-container {

}

.u-nav {
	margin: 0;
}

.u-nav.panel {
	border: none;
}

.u-nav .panel-body {
	padding: 0;
}

.u-nav-control-btn {
	position: relative;
	height: 38px;
	line-height: 38px;
	background-color: #383e4c;
	cursor: pointer;
}

.u-nav-control-btn .icon-menu {
	width: 16px;
	height: 16px;
	float: left;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -8px;
}

.u-nav-group {
	position: relative;
	color: #fff;
}

.u-nav-header {
	height: 40px;
	line-height: 40px;
	background-color: #42485b;
	cursor: pointer;
}

.u-nav-header .header-icon-cntr {
	float: left;
	width: 40px;
	height: 40px;
	padding: 16px;
}

.u-nav-header .header-icon {
	float: left;
	vertical-align: middle;
	border-style: solid;
	transition: transform 0.12s;
	-o-transition: -o-transform 0.12s;
	-ms-transition: -ms-transform 0.12s;
	-moz-transition: -moz-transform 0.12s;
	-webkit-transition: -webkit-transform 0.12s;
}

.u-nav-header .header-icon.z-show {
	border-width: 4px 4px 0 4px;
	border-color: rgba(255, 255, 255, 1) transparent transparent;
}

.u-nav-header .header-icon.z-hide {
	border-width: 4px 0px 4px 4px;
	border-color: transparent rgba(255, 255, 255, 1) transparent rgba(255, 255, 255, 1);
}

.u-nav-header .header-text {
	float: left;
	width: 120px;
	color: #fff;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-transform: capitalize;
}

.u-nav-content {
	display: block;
	text-align: center;
}

.u-nav-content .content {
	display: block;
	height: 40px;
	line-height: 40px;
	background-color: #313542;
	color: #fff;
}

.u-nav-container.u-nav-container_1 .content {
	background-color: transparent;
}

.u-nav-content .content .content-icon-cntr {
	float: left;
	width: 40px;
	height: 40px;
}

.u-nav-content .content .content-icon {
	margin: 11px;
	box-sizing: border-box;
}

.u-nav-content .content .content-text {
	float: left;
	width: 120px;
	text-align: left;
	font-size: 12px;
	text-transform: capitalize;
}

.u-nav-content .content:hover {
	background-color: rgba(48, 136, 223, .3);
}

.u-nav-content .content.z-active {
	background-color: #3088df;
}

/*ani and nav hide*/
.u-nav-content.z-content-hidden {
	height: 0;
	visibility: collapse;
	overflow: hidden;
}

.u-nav-content {
	-o-transition: all 0.12s ease, 0.12s ease;
	-ms-transition: all 0.12s ease, 0.12s ease;
	-moz-transition: all 0.12s ease, 0.12s ease;
	-webkit-transition: height 0.12s ease, 0.12s ease;
}

.u-nav-header .header-text.z-nav-no-text {
	display: none;
}

.u-nav-content .content-text.z-nav-no-text {
	display: none;
}
